{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    {% if profile.profile_photo %}
                        <img src="{{ profile.profile_photo.url }}" alt="Profile Photo" class="rounded-circle img-fluid mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'images/default_profile.png' %}" alt="Default Profile" class="rounded-circle img-fluid mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                    {% endif %}
                    <h3 class="card-title mb-0">{{ request.user.full_name }}</h3>
                    <p class="text-muted">{{ request.user.email }}</p>
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Profile Information</h4>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ profile.phone_number }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ profile.address }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">City</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ profile.city }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Pin Code</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ profile.pin_code }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">License Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ profile.license_number }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">License Front</h5>
                            {% if profile.license_front %}
                                <img src="{{ profile.license_front.url }}" alt="License Front" class="img-fluid">
                            {% else %}
                                <p class="text-muted">No license front image uploaded</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">License Back</h5>
                            {% if profile.license_back %}
                                <img src="{{ profile.license_back.url }}" alt="License Back" class="img-fluid">
                            {% else %}
                                <p class="text-muted">No license back image uploaded</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}