{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}
<div class="container" style="margin-top: 6rem;">
    <h2 class="text-center mb-5">Your Booking History</h2>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if bookings %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Booking ID</th>
                    <th>Vehicle</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Cost per day</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ booking.booking_id }}</td>
                        <td>{{ booking.vehicle.model }}</td>
                        <td>{{ booking.start_date }}</td>
                        <td>{{ booking.end_date }}</td>
                        <td>{{ booking.vehicle.rental_rate }}</td>
                        <td>{{ booking.get_status_display }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{% url 'booking_detail' booking.booking_id %}" class="btn btn-info btn-sm">View Details</a>
                                {% if booking.status == 'pending' or booking.status == 'confirmed' %}
                                    <!-- <a href="{% url 'booking_detail' booking.booking_id %}" class="btn btn-info btn-sm">View Details</a> -->
                                    <form method="post" action="{% url 'cancel_booking' booking.booking_id %}" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to cancel this booking?')">Cancel</button>
                                    </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">You haven't made any bookings yet.</p>
    {% endif %}
    <div class="text-center mt-4">
        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
    </div>
</div>
{% endblock %}