{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Register </title>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'login/css/style.css'%}">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Signup</header>
                    <form action="{% url 'mainapp:register' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field input-field">
                            {{ user_form.email.label_tag }} {{ user_form.email }}
                        </div>
                        <div class="field input-field">
                            {{ user_form.first_name.label_tag }} {{ user_form.first_name }}
                        </div>
                        <div class="field input-field">
                            {{ customer_form.phone.label_tag }} {{ customer_form.phone }}
                        </div>
                        <div class="field input-field">
                            {{ customer_form.driving_license.label_tag }} {{ customer_form.driving_license }}
                        </div>
                        <div class="field input-field">
                            {{ user_form.username.label_tag }} {{ user_form.username }}
                        </div>
                        <div class="field input-field">
                            {{ user_form.password.label_tag }} {{ user_form.password }}
                        </div>
                        <div class="field button-field">
                            <button type="submit">Signup</button>
                        </div>
                    </form>
    
                    {% if form.errors %}
                        <div class="errors">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    <div class="form-link">
                        <span>Already have an account? <a href="{% url 'login' %}" class="link signup-link">Signin</a></span>
                    </div>
                </div>
                <div class="line"></div>
    
                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="{% static 'login/images/google.png'%}" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>
            </div>
        </section>

        <!-- JavaScript -->
        <!-- <script src="{% static 'login/js/script.js'%}"></script> -->
    </body>
</html>